<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HarmonyX" version="2.14.0" targetFramework="net481" />
  <package id="Mono.Cecil" version="0.11.6" targetFramework="net481" />
  <package id="MonoMod.Backports" version="1.1.2" targetFramework="net481" />
  <package id="MonoMod.Core" version="1.2.3" targetFramework="net481" />
  <package id="MonoMod.ILHelpers" version="1.1.0" targetFramework="net481" />
  <package id="MonoMod.RuntimeDetour" version="25.2.3" targetFramework="net481" />
  <package id="MonoMod.Utils" version="25.0.8" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net481" />
</packages>